@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.logo_font{
    font-family: 'Bruno Ace SC', cursive!important;
}

*{
    margin: 0;
    padding: 0;
}

.cursor-pointer{
    cursor: pointer!important;
}